.container {
  width: 400px;
  background-color: lightblue;
  padding: 20px;
}

input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 3px;
  font-weight: 600;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list {
  margin: 15px 0;
}

.list > li {
  background-color: antiquewhite;
  padding: 5px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.btn {
  display: flex;
  justify-content: right;
  margin: 10px 0;
}

.btn > button {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: crimson;
  font-weight: 600;
}
